%h1 The Register Page
%p
Register for some classes Yo
%p
This is the class registration page.
#content

-# TODO Change CRN to class number or something else. These aren't CRNs
-# TODO Display textboxes dynamically on page with a loop or something

Welcome User, please select the courses you have taken

= form_for(:classes, url: "/register_classes") do |f|
  .form-group
    = f.label :Please_select_the_courses_you_have_taken
    .form-group
      = f.check_box(:c1, {:multiple => "true"}, {:name => "Composition and Literature I", :crn => "ENGL 101-"})
      = f.label(:course, "101 Composition and Literature I")
    .form-group
      = f.check_box(:c2, {:multiple => "true"}, {:name => "Introduction to Computer Science I", :crn => "CSCI 201-"})
      = f.label(:course, "201 Introduction to Computer Science I")
    .form-group
      = f.check_box(:c3, {:multiple => "true"}, {:name => "A Modern Language I", :crn => "LANG 101-"})
      = f.label(:course, "101 A Modern Language")
    .form-group
      = f.check_box(:c4, {:multiple => "true"}, {:name => "Analytic Geometry and Calculus I", :crn => "MATH 131-"})
      = f.label(:course, "131 Analytic Geometry and Calculus I")
    .form-group
      = f.check_box(:c5, {:multiple => "true"}, {:name => "First Year Basic ROTC I", :crn => "ROTC 101-"})
      = f.label(:course, "ROTC 1-1 1st Year Basic ROTC")
    .form-group
      = f.check_box(:c6, {:multiple => "true"}, {:name => "Required Physical Education Part I", :crn => "RPED 101-"})
      = f.label(:course, "101 Required Physical Education Part I")
    .form-group
      = f.check_box(:c7, {:multiple => "true"}, {:name => "Composition and Literature II", :crn => "ENGL 102-"})
      = f.label(:course, "102 Composition and Literature II")
    .form-group
      = f.check_box(:c8, {:multiple => "true"}, {:name => "A Modern Language II", :crn => "LANG 102-"})
      = f.label(:course, "102 A Modern Language II")
    .form-group
      = f.check_box(:c9, {:multiple => "true"}, {:name => "Social Science Core Course", :crn => "SSC 101-"})
      = f.label(:course, "SSC Social Science Core Course")
    .form-group
      = f.check_box(:c10, {:multiple => "true"}, {:name => "Introduction to Computer Science II", :crn => " CSCI 202-"})
      = f.label(:course, "202 Introduction to Computer Science II")
      .form-group
      = f.check_box(:c11, {:multiple => "true"}, {:name => "Analytic Geometry and Calculus II", :crn => "MATH 132-"})
      = f.label(:course, "132 Analytic Geometry and Calculus")
    .form-group
      = f.check_box(:c12, {:multiple => "true"}, {:name => "First Year Basic ROTC II", :crn => "ROTC 102-"})
      = f.label(:course, "1-2 First Year Basic ROTC")
    .form-group
      = f.check_box(:c13, {:multiple => "true"}, {:name => "Required Physical Education Part II", :crn => "RPED 201-"})
      = f.label(:course, "251 Required Physical Education Part II")
      .form-group
      = f.check_box(:c14, {:multiple => "true"}, {:name => "Major British Writers", :crn => "ENGL 201-"})
      = f.label(:course, "201 Major British Writers")
    .form-group
      = f.check_box(:c15, {:multiple => "true"}, {:name => "A Modern Language", :crn => "LANG 201-"})
      = f.label(:course, "201 A Modern Language")
    .form-group
      = f.check_box(:c16, {:multiple => "true"}, {:name => "Computer Organization and Programming", :crn => "CSCI 305-"})
      = f.label(:course, "305 Computer Organization and Programming")
      .form-group
      = f.check_box(:c17, {:multiple => "true"}, {:name => "Introduction to Discrete Structures", :crn => "MATH 206-"})
      = f.label(:course, "206 Introduction to Discrete Structures")
    .form-group
      = f.check_box(:c18, {:multiple => "true"}, {:name => "Biology Chemistry or Physics", :crn => "BCP 101-"})
      = f.label(:course, "BCP Biology, Chemistry, or Physics")
    .form-group
      = f.check_box(:c19, {:multiple => "true"}, {:name => "Second Year Basic ROTC I", :crn => "ROTC 201-"})
      = f.label(:course, "2-1 2nd Year Basic ROTC")
      .form-group
      = f.check_box(:c20, {:multiple => "true"}, {:name => "Required Physical Education Part III", :crn => "RPED 301-"})
      = f.label(:course, "RPED Required Physical Education Part III")
    .form-group
      = f.check_box(:c21, {:multiple => "true"}, {:name => "Sophmore Seminar Part I", :crn => "LDRS 201-"})
      = f.label(:course, "201 Sophmore Seminar")
    .form-group
      = f.check_box(:c22, {:multiple => "true"}, {:name => "Sophmore Seminar Part II", :crn => "LDRS 211-"})
      = f.label(:course, "211 Sophmore Seminar Part III")
      .form-group
      = f.check_box(:c23, {:multiple => "true"}, {:name => "English American or World Literature", :crn => "ENGL 202-"})
      = f.label(:course, "ENGL English, American, or World Literature")
    .form-group
      = f.check_box(:c24, {:multiple => "true"}, {:name => "Biology Chemistry or Physics Part II", :crn => "BCP 102-"})
      = f.label(:course, "BCP Biology, Chemistry, or Physics Part II")
    .form-group
      = f.check_box(:c25, {:multiple => "true"}, {:name => "A Modern Language IV", :crn => "LANG 202-"})
      = f.label(:course, "202 A Modern Language IV")
      .form-group
      = f.check_box(:c26, {:multiple => "true"}, {:name => "Data Structures and Algorithms", :crn => "CSCI 223-"})
      = f.label(:course, "223 Data Structures & Algorithms")
    .form-group
      = f.check_box(:c27, {:multiple => "true"}, {:name => "Linear Algebra", :crn => "MATH 240-"})
      = f.label(:course, "240 Linear Algebra")
    .form-group
      = f.check_box(:c28, {:multiple => "true"}, {:name => "Second Year Basic ROTC II", :crn => "ROTC 202-"})
      = f.label(:course, "ROTC Second Year Basic ROTC")
      .form-group
      = f.check_box(:c29, {:multiple => "true"}, {:name => "Required Physical Education Part IV", :crn => "RPED 401-"})
      = f.label(:course, "RPED Required Physical Education Part IV")
    .form-group
      = f.check_box(:c30, {:multiple => "true"}, {:name => "Database Design", :crn => "CSCI 320-"})
      = f.label(:course, "320 Database Design")
    .form-group
      = f.check_box(:c31, {:multiple => "true"}, {:name => "Computer Organization and Programming", :crn => "CSCI 305-"})
      = f.label(:course, "305 Computer Organization & Programming")
      .form-group
      = f.check_box(:c32, {:multiple => "true"}, {:name => "Biology Chemistry or Physics Part III", :crn => "BCP 201-"})
      = f.label(:course, "BCP 3 Biology, Chemistry, or Physics Part III")
    .form-group
      = f.check_box(:c33, {:multiple => "true"}, {:name => "Elective", :crn => "E1"})
      = f.label(:course, "E1 Elective")
    .form-group
      = f.check_box(:c34, {:multiple => "true"}, {:name => "First Year Advanced ROTC I", :crn => "ROTC 301-"})
      = f.label(:course, "ROTC 3-1 First Year Advanced ROTC")
      .form-group
      = f.check_box(:c35, {:multiple => "true"}, {:name => "Junior Ethics Enrichment Experience", :crn => "LDRS 311-"})
      = f.label(:course, "311 Junior Ethics Enrichment Experience")
    .form-group
      = f.check_box(:c36, {:multiple => "true"}, {:name => "Programming Languages", :crn => "CSCI 355-"})
      = f.label(:course, "355 Programming Languages")
    .form-group
      = f.check_box(:c37, {:multiple => "true"}, {:name => "Computer Networks and Internets", :crn => "CSCI 317-"})
      = f.label(:course, "317 Computer Networks & Internets")
    .form-group
      = f.check_box(:c38, {:multiple => "true"}, {:name => "Approved Elective", :crn => "A1-"})
      = f.label(:course, "A1 Approved Elective")
    .form-group
      = f.check_box(:c54, {:multiple => "true"}, {:name => "First Year Advanced ROTC II", :crn => "ROTC 302-"})
      = f.label(:course, "ROTC 3-2 First Year Advanced ROTC")
    .form-group
      = f.check_box(:c39, {:multiple => "true"}, {:name => "Introduction to Probability and Statistics", :crn => "STAT 361-"})
      = f.label(:course, "361 Introduction to Probability & Statistics")
    .form-group
      = f.check_box(:c40, {:multiple => "true"}, {:name => "Biology Chemistry or Physics", :crn => "BCP 202-"})
      = f.label(:course, "BCP4 Biology,Chemistry, or Physics")
    .form-group
      = f.check_box(:c41, {:multiple => "true"}, {:name => "Operating Systems", :crn => "CSCI 405-"})
      = f.label(:course, "405 Operating Systems")
    .form-group
      = f.check_box(:c42, {:multiple => "true"}, {:name => "Software Engineering", :crn => "CSCI 420-"})
      = f.label(:course, "420 Software Engineering")
    .form-group
      = f.check_box(:c43, {:multiple => "true"}, {:name => "Senior Seminar in Computer Science", :crn => "CSCI 495-"})
      = f.label(:course, "495 Senior Seminar in Computer Science")
    .form-group
      = f.check_box(:c44, {:multiple => "true"}, {:name => "Digital Logic and Circuits", :crn => "ELEC 311-"})
      = f.label(:course, "311 Digital Logic and Circuits")
    .form-group
      = f.check_box(:c45, {:multiple => "true"}, {:name => "Elective II", :crn => "E2-"})
      = f.label(:course, "E2 Elective 2")
    .form-group
      = f.check_box(:c46, {:multiple => "true"}, {:name => "Second Year Advanced ROTC I", :crn => "ROTC 401-"})
      = f.label(:course, "4-1 Second Year Advanced ROTC")
    .form-group
      = f.check_box(:c47, {:multiple => "true"}, {:name => "Senior Leadership Integration Seminar", :crn => "LDRS 411-"})
      = f.label(:course, "411 Senior Leadership Integration Seminar")
    .form-group
      = f.check_box(:c48, {:multiple => "true"}, {:name => "Software Engineering Praticum", :crn => "CSCI 421-"})
      = f.label(:course, "421 Software Engineering Praticum")
    .form-group
      = f.check_box(:c49, {:multiple => "true"}, {:name => "Digital Systems Engineering", :crn => "ELEC 330-"})
      = f.label(:course, "317 Computer Networks & Internets")
    .form-group
      = f.check_box(:c50, {:multiple => "true"}, {:name => "Approved Elective II", :crn => "A2-"})
      = f.label(:course, "A2 Approved Elective II")
    .form-group
      = f.check_box(:c51, {:multiple => "true"}, {:name => "Elective III", :crn => "E3-"})
      = f.label(:course, "E3 Elective III")
    .form-group
      = f.check_box(:c52, {:multiple => "true"}, {:name => "Elective IV", :crn => "E4-"})
      = f.label(:course, "E4 Elective IV")
    .form-group
      = f.check_box(:c53, {:multiple => "true"}, {:name => "Second Year Advanced ROTC II", :crn => "ROTC 402-"})
      = f.label(:course, "Second Year Advanced ROTC")
    .form-group
      = f.submit "Submit", class: "btn btn-primary"
    
