%h1 The Register Page
%p
Register a new user
%p
This is the user registration page.
#content

-# TODO Change CRN to class number or something else. These aren't CRNs
-# TODO Change textbox data to the right one not 355
-# TODO Display textboxes dynamically on page with a loop or something

= form_for(:user, url: "/register_user") do |f|
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'
    = f.label :name
    = f.text_field :name, class: 'form-control'
    = f.label :academic_class
    = f.text_field :academic_class, class: 'form-control'
    = f.label :is_advisor
    = f.text_field :is_advisor, class: 'form-control'
    .form-group
      = f.submit "Submit", class: "btn btn-primary"
    
