.row
  .col-md-6.col-md-offset-3
    %h1 Sign-Up
    #content
    - provide(:title, "Register")
    = form_for(:user, url: "/register_user") do |f|
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control'
        = f.label :name
        = f.text_field :name, class: 'form-control'
        .form-group
          %p
          = f.submit "Submit", class: "btn btn-primary"
    
