#content
%h1 The Student View Page
%p
Welcome #{current_user.name}, if you have not registerd your classes, please click
= link_to 'Here', '/register_classes'

%p
Here are the classes you have taken

%table#classes
  %head
    %tr
      %th Class    
      %th Class Number
  %tbody
    - @classes_taken.each do |classItem|
      %tr
        %td= classItem.class_name
        %td= classItem.crn
%p
And these are the classes you need to take to graduate:

%table#classes_required
  %head
    %tr
      %th Class    
      %th Class Number
  %tbody
    - @classes_required.each do |classItem|
      %tr
        %td= classItem.class_name
        %td= classItem.crn
        
%p
  %h1 Comments
  %table#comments
  %p
  %tbody
  - @user.comments.each do |comment|
    %div
      %strong From:
      %strong= comment.from_user
      %br/
      %p
        = comment.body
      %p
%strong Add a Comment
= render 'comments/form'