.container-fluid
  .row
    .col-lg-12.col-lg-offset-3
      #content
      %h1 The Student View Page
      %p
      %strong Welcome #{current_user.name}
      %p
      If you have not registered your classes, please click
      = link_to 'Here', '/register_classes'
      
      %p
      %strong Here are the classes you have taken:
      
      .container-fluid
        .row
          .col-md-6
            .panel.panel-primary
              .col-xs-4 
                %strong Class Name
              .col-xs-4 
                %strong Course Number
              .col-xs-4 
                %strong Pre-Requisites
        - @classes_taken.each do |classItem|
          .row
            .col-md-6
              .panel.panel-info
              .col-xs-4= classItem.class_name
              .col-xs-4= classItem.crn
              .col-xs-4= classItem.pre_reqs
            
      %p
      %strong And these are the classes you need to take to graduate:
      .container-fluid
        .row
          .col-md-6
            .panel.panel-primary
              .col-xs-4 
                %strong Class Name
              .col-xs-4 
                %strong Course Number
              .col-xs-4 
                %strong Pre-Requisites
        - @classes_required.each do |classItem|
          .row
            .col-md-6
              .panel.panel-info
                .col-xs-4= classItem.class_name
                .col-xs-4= classItem.crn
                .col-xs-4= classItem.pre_reqs
              
      %p
        %h1 Comments
        %table#comments
        %p
        %tbody
        - @user.comments.each do |comment|
          %div
            %strong From:
            %strong= comment.from_user
            %br/
            %p
              = comment.body
            %p
      %strong Add a Comment
      = render 'comments/form'