!!! 5
%html
  %head
    %title Course Planner!
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #wrapper
      #header
        %h1 Course Planner
        %h2 Main Page
      #nav
        %ol
          %a(href="index")
            %li Home
          %a(href="register_user")
            %li Register
          %a(href="login")
            %li Login
          %a(href="student")
            %li Student
          %a(href="advisor")
            %li Advisor
        #main
        - if flash[:notice]
          #notice.message= flash[:notice]
        - elsif flash[:warning]
          #warning.message= flash[:warning]
          
            
        #side_bar
        %h1 Side Bar
        %p
        This is the side bar of the webpage
          
        = yield
        
        #footer
        %p
        ©Citadel 1337 Squad